.strikethrough {
    position: relative;
    font-size: 100pt;
    font-weight: bold;
    color: #0074D9;
    font-family: sans-serif;
  }

.title {
  display: inline-block;
  font-size: 27pt;
  font-weight: bold;
}

.img-container{
  display: flex; 
  margin-top: 1em;
  margin-bottom: 1em;
}

.img-left {
  height: 150px;
  padding-left: 1em;
  padding-right: 0.5em
}

.img-middle {
  height: 150px;
  padding-left: 0.5em;
  padding-right: 0.5em
}

.img-right {
  height: 150px;
  padding-left: 0.5em;
  padding-right: 1em
}

.modal-body{
  padding: 4em;
  text-align: center;
}

.hotel-name {
  font-size: 30pt;
  font-weight: bold;
  text-align: center;
}

.hotel-description {
  font-size: 18pt;
  line-height: 1.3;
  margin-bottom: 25px;
}

.auction-bid {
    position: relative;
    font-size: 100pt;
    font-weight: bold;
    color: #0074D9;
    font-family: sans-serif;
  }

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 40%;
    right: 0;
    border-top: 10px solid ;
    border-color: black;

    -webkit-transform:rotate(-20deg);
    -moz-transform:rotate(-20deg);
    -ms-transform:rotate(-20deg);
    -o-transform:rotate(-20deg);
    transform:rotate(-20deg);
}